:root{
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: var(--font-mono);
}

section{
    display:flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

section h1{
    font-size: 3em;
}

section h2{
    text-align:center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 2.5em
}

section form{
    padding: 1.5em;
    display:flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 20px;
    border: 2px solid rgba(0,0,0,.1);
}

section form label{
    width: 100%;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

section form input{
    width: 100%;
    margin-bottom: 1em;
    padding: 0.8em;
    border-radius: 9px;
    border: none;
    outline-color: #003DFF;
    background-color: #eee;
}

section form input[type='submit']{
    margin-top: 1.5em;
    background-color: #003DFF;
    color: #fff;
    font-family: var(--font-mono);
    transition: var(--transition);
} 

section form input[type='submit']:active{
    transform: scale(0.97);
}

section p{
    margin-top: 1.5em;

}


section p a{
    text-decoration: none;
    color: #003DFF;
}


/* Home */

section button{
    background-color: #003DFF;
    color: #fff;
    font-family: var(--font-mono);
    transition: var(--transition);
    border: none;
    padding: 0.5em 1em;
    border-radius: 9px;
    margin-top: 1.5em;
    font-size: 1em;
}

/* Barra de navegacion */
#main-nav-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 500px; /* Limitar el ancho igual que el formulario */
}

/* Botones del navbar */
#main-nav-buttons button {
    margin: 0.5em; 
}

/* Contenedor principal del checkbox*/
section form .checkbox-container {
    width: 100%;
    display: flex; 
    align-items: flex-start; 
    padding: 0.2em;
    margin-bottom: 1em;
    cursor: pointer; 
}

/* Estilos para el input checkbox */
section form .checkbox-container input[type="checkbox"] {
    width: auto; 
    margin-right: 0.5em; 
    margin-top: 0.2em;
    padding: 0;
    background-color: transparent; 
    border: 1px solid #003DFF;
    outline: none;
    height: 16px; 
    width: 16px;
    appearance: none; 
    -webkit-appearance: none;
    cursor: pointer;
}

/* Estilo cuando el checkbox está marcado */
section form .checkbox-container input[type="checkbox"]:checked {
    background-color: #003DFF; 
    border-color: #003DFF;
}

/* span checkbox*/
section form .checkbox-container span {
    width: calc(100% - 20px); 
    font-size: 0.9em;
    line-height: 1.2;
}